# Bio Weavers MVP â€” Demo Notebook

Quick walkthrough of the proof-of-life pipeline.

In [1]:
import sys
from pathlib import Path

# Ensure repo root is on sys.path
repo_root = Path.cwd().resolve()
if (repo_root / 'src').exists():
    sys.path.insert(0, str(repo_root))
elif (repo_root.parent / 'src').exists():
    sys.path.insert(0, str(repo_root.parent))

In [2]:

from src.geometry import load_boundary, create_buffer, get_bounding_box
from src.species import query_inaturalist #, get_unique_species, filter_federally_listed
#from src.export import export_species_csv, export_species_excel

In [3]:
# Load sample boundary
boundary_path = Path("../data/sample_boundary.geojson")
boundary = load_boundary(boundary_path)
boundary.head()

                  name                                           geometry
0  Sample Project Area  POLYGON ((-119.85 34.42, -119.82 34.42, -119.8...

In [4]:
# Create a 5000 m buffer and bounding box
buffered = create_buffer(boundary, distance=5000)
bbox = get_bounding_box(buffered)
bbox

array([-119.9044316 ,   34.37494208, -119.7655684 ,   34.49505456])

In [5]:
# Query iNaturalist (network call)
observations = query_inaturalist(bbox, limit=50)
observations.head()

,observation_id,observed_on,scientific_name,common_name,taxon_id,iconic_taxon,conservation_status,latitude,longitude,place_guess
0,338023789,2026-02-09,Batrachoseps nigriventris,Black-bellied Slender Salamander,27474,Amphibia,NaN,34.403157,-119.865536,"Santa Barbara County, US-CA, US"
1,338021320,2026-02-09,Apis mellifera,Western Honey Bee,47219,Insecta,NaN,34.407789,-119.843411,"University of California-Santa Barbara, CA, USA"
2,338021319,2026-02-09,Ardea herodias,Great Blue Heron,4956,Aves,NaN,34.415300,-119.837814,"Santa Barbara, CA, USA"
3,338021308,2026-02-09,Vanessa annabella,West Coast Lady,50786,Insecta,NaN,34.417075,-119.830631,"Goleta Beach County Park, Santa Barbara, Calif..."
4,338019442,2026-02-09,Sialia mexicana,Western Bluebird,12937,Aves,NaN,34.413968,-119.850303,"Humanities and Social Sciences Building, Santa..."

In [7]:
# Build species list + filter federally listed
species = get_unique_species(observations)
listed = filter_federally_listed(species)
species.head()

,scientific_name,common_name,conservation_status,observation_count,first_observed,last_observed
0,Anarhynchus nivosus,Snowy Plover,nt,5,2026-02-08,2026-02-08
1,Danaus plexippus,Monarch,g4,2,2026-02-07,2026-02-08
2,Larus heermanni,Heermann's Gull,nt,1,2026-02-08,2026-02-08

In [8]:
# Export outputs
output_dir = Path("../output")
export_species_csv(species, output_dir / "species.csv", project_name="Sample Project")
export_species_excel(species, listed, output_dir / "species.xlsx", project_name="Sample Project")

PosixPath('../output/species.xlsx')