# Bio Weavers MVP — Demo Notebook

Quick walkthrough of the proof-of-life pipeline.

In [1]:
import sys
from pathlib import Path

# Ensure repo root is on sys.path
repo_root = Path.cwd().resolve()
if (repo_root / 'src').exists():
    sys.path.insert(0, str(repo_root))
elif (repo_root.parent / 'src').exists():
    sys.path.insert(0, str(repo_root.parent))

In [2]:

from src.geometry import load_boundary, create_buffer, get_bounding_box
from src.species import query_inaturalist, refactor_cnps # get_unique_species, filter_federally_listed
#from src.export import export_species_csv, export_species_excel

In [3]:
# Load sample boundary
boundary_path = Path("../data/sample_boundary.geojson")
boundary = load_boundary(boundary_path)
boundary.head()

                  name                                           geometry
0  Sample Project Area  POLYGON ((-119.85 34.42, -119.82 34.42, -119.8...

In [4]:
# Create a 5000 m buffer and bounding box
buffered = create_buffer(boundary, distance=5000)
bbox = get_bounding_box(buffered)
bbox

array([-119.90443173,   34.37494235, -119.76556827,   34.4950543 ])

In [5]:
# Query iNaturalist (network call)
observations = query_inaturalist(bbox, limit=50)
observations.head()

,observation_id,observed_on,scientific_name,common_name,taxon_id,iconic_taxon,conservation_status,latitude,longitude,place_guess
0,338722717,2026-02-15,Porzana carolina,Sora,162,Aves,NaN,34.442543,-119.848282,"Lake Los Caneros 2007 Dam, Goleta, CA 93117, USA"
1,338663599,2026-02-14,Egretta thula,Snowy Egret,4940,Aves,NaN,34.406478,-119.878018,"CA, US"
2,338663710,2026-02-14,Megastraea undosa,Wavy Turban,121180,Mollusca,NaN,34.406389,-119.878209,"CA, US"
3,338663784,2026-02-14,Pisaster giganteus,Giant Sea Star,48833,Animalia,NaN,34.405984,-119.879101,"CA, US"
4,338679040,2026-02-14,Pisaster giganteus,Giant Sea Star,48833,Animalia,NaN,34.406200,-119.878281,"Santa Barbara County, CA, USA"

In [8]:
cnps_path = Path("../data/CNPS_RAW.csv")
cnps = refactor_cnps(cnps_path)
cnps.head()

,ScientificName,CommonName,Family,Lifeform,CRPR,GRank,SRank,OtherStatus,CESA,FESA,...,Taxonomy,FullScientificName,Synonyms,ElementCode,USDAPlantsSymbol,CBRReason,DateAdded,LastUpdate,CRPRChangeDate,split_quad
0,Abies amabilis,Pacific silver fir,Pinaceae,perennial evergreen tree,2B.3,G5,S2,IUCN_LC,NaN,NaN,...,NaN,Abies amabilis,NaN,PGPIN01010,ABAM,NaN,1/1/1974,10/29/2025,NaN,"[4112351, 4112381, 4112342]"
1,Abies bracteata,bristlecone fir,Pinaceae,perennial evergreen tree,1B.3,G2G3,S2S3,IUCN_NT; SB_CalBG/RSABG; USFS_S,NaN,NaN,...,NaN,Abies bracteata,NaN,PGPIN01030,ABBR,NaN,1/1/1974,10/29/2025,NaN,"[3512067, 3512183, 3612137, 3512172, 3512173, ..."
2,Abies lasiocarpa var. lasiocarpa,subalpine fir,Pinaceae,perennial evergreen tree,2B.3,G5T5,S3,NaN,NaN,NaN,...,NaN,Abies lasiocarpa var. lasiocarpa,NaN,PGPIN01072,ABLAL,NaN,1/1/1974,5/26/2021,NaN,"[4112227, 4112351, 4112238, 4112342, 4112352, ..."
3,Abronia alpina,Ramshaw Meadows abronia,Nyctaginaceae,perennial herb,1B.1,G2,S2,USFS_S,NaN,NaN,...,NaN,Abronia alpina,NaN,PDNYC01020,ABAL,NaN,1/1/1974,10/29/2025,NaN,"[3611833, 3611832]"
4,Abronia maritima,red sand-verbena,Nyctaginaceae,perennial herb,4.2,G4,S3?,SB_CalBG/RSABG,NaN,NaN,...,NaN,Abronia maritima,NaN,PDNYC010E0,ABMA2,NaN,1/1/1994,10/29/2025,NaN,"[3311983, 3412075, 3512048, 3211782, 3411948, ..."

In [6]:
# Build species list + filter federally listed
species = get_unique_species(observations)
listed = filter_federally_listed(species)
species.head()

NameError: name 'get_unique_species' is not defined

In [8]:
# Export outputs
output_dir = Path("../output")
export_species_csv(species, output_dir / "species.csv", project_name="Sample Project")
export_species_excel(species, listed, output_dir / "species.xlsx", project_name="Sample Project")

PosixPath('../output/species.xlsx')