# Bio Weavers MVP â€” Demo Notebook

Quick walkthrough of the proof-of-life pipeline.

In [1]:
import sys
from pathlib import Path

# Ensure repo root is on sys.path
repo_root = Path.cwd().resolve()
if (repo_root / 'src').exists():
    sys.path.insert(0, str(repo_root))
elif (repo_root.parent / 'src').exists():
    sys.path.insert(0, str(repo_root.parent))

In [3]:
from pathlib import Path

from src.geometry import load_boundary, create_buffer, get_bounding_box
from src.species import query_inaturalist, refactor_cnps # get_unique_species, filter_federally_listed
# from src.export import export_species_csv, export_species_excel

In [4]:
# Load sample boundary
boundary_path = Path("../data/sample_boundary.geojson")
boundary = load_boundary(boundary_path)
boundary.head()

                  name                                           geometry
0  Sample Project Area  POLYGON ((-119.85 34.42, -119.82 34.42, -119.8...

In [5]:
# Create a 5-mile buffer and bounding box
buffered = create_buffer(boundary, distance=5)
bbox = get_bounding_box(buffered)
bbox

array([-119.85005443,   34.41995494, -119.81994557,   34.45004506])

In [6]:
# Query iNaturalist (network call)
observations = query_inaturalist(bbox, limit=50)
observations.head()

,observation_id,observed_on,scientific_name,common_name,taxon_id,iconic_taxon,conservation_status,latitude,longitude,place_guess
0,338722717,2026-02-15,Porzana carolina,Sora,162,Aves,NaN,34.442543,-119.848282,"Lake Los Caneros 2007 Dam, Goleta, CA 93117, USA"
1,338403819,2026-02-12,Acheta domesticus,House Cricket,133220,Insecta,NaN,34.442395,-119.842658,"Momouth Ave, Goleta, CA, US"
2,338403841,2026-02-12,Gryllodes sigillatus,Tropical House Cricket,154340,Insecta,NaN,34.442397,-119.842680,"Momouth Ave, Goleta, CA, US"
3,338168375,2026-02-10,Elgaria multicarinata,Southern Alligator Lizard,32055,Reptilia,NaN,34.442325,-119.842653,"Momouth Ave, Goleta, CA, US"
4,338044507,2026-02-09,Anas platyrhynchos domesticus,Domestic Mallard,236935,Aves,NaN,34.440333,-119.847938,"Goleta, CA, US"

In [ ]:
# Refactor CNPS Quad list.
cnps_path = Path("../data/CNPS_RAW.csv")
cnps = refactor_cnps(cnps_path)
cnps

In [ ]:
# Build species list + filter federally listed
species = get_unique_species(observations)
listed = filter_federally_listed(species)
species.head()

In [ ]:
# Export outputs
output_dir = Path("../output")
export_species_csv(species, output_dir / "species.csv", project_name="Sample Project")
export_species_excel(species, listed, output_dir / "species.xlsx", project_name="Sample Project")